{% extends "sistemabio/base.html" %}
{% load static %}
{% block content %}
    <header class="row" style="position: relative; height: 50vh; width: 100%;">
        <div
              class="col s12 m11 l9 xl8 "
              style="position: absolute; top: 0px; height: 120%; left: 0px; right: 40px; width: 100%;"
            > 
            <img alt="" src="{% static 'sistemabio/img/ba21_2.png' %}"
                    style="position: absolute; right: -12px; top: 20%; width: 100%; height:80%"
                >
            <img alt="" src="{% static 'sistemabio/img/ba12_2.png' %}"
                    style="position: absolute;  right: -12px; top: 0px; width: 100%; height:90%">
        </div>
        <div class="col s4 hide-on-small-only" 
            
             style="position: absolute; top: 70%; left: 80%; height: 100%; transform: translate(-50%, -50%); width: 30%;" 
        >
            <h1 class="titulo" style="font-size:40px">
              LISTADO DE <b>INQUILINOS</b>
            </h1>
            <blockquote>
              <h4 class="subtitulo black-text" style="font-size:20px">
                <b>
                  Aquí puedes consultar los registros <br /> de los Inquilinos
                </b>
              </h4>
            </blockquote>
        </div>
 <!--style="height: 100%; position: absolute; top: 0%; right: 0%;"
 style="position: absolute; top: 50%; left: 30%; height: 100%; transform: translate(-50%, -50%); width: 50%;"
 -->
        <div class=" col s12 m9 l9 xl8 white-text" style="height: 100%; position: absolute; top: 0%; right: 50%;">
          <img alt="" src="{% static 'sistemabio/img/parteba15_2.png' %}" 
          class="responsive-img" style="position: absolute; right: 0px; top: 0px; height: 120%; width: 50%;">
        </div>  
    </header>
      <br />
      <br />
      <br />
      <div class="row justify-content-end">
        <div class="col-3 align-self-end">
          <a class="waves-effect waves-light text-white btn p-2 text-center  " style="background: rgb(29, 240, 134); border-radius: 20px;"
                    href="javascript:window.history.back(); " 
                > 
            <i class="material-icons  text-white large rounded-circle btn p-2 text-center">arrow_back
            </i>       Regresar              
          </a>
        </div>
      </div>
    
      <!--div class="row justify-content-end">
        <div class="col-3 align-self-end">
        <button class="btn btn-success text-center btn p-2 " onclick="window.history.back()">
          <span class="material-symbols-rounded btn p-2  text-center text-white">
              arrow_back
          </span> Regresar 
        </button>
        </div>
      </div-->  
      
  <div class="container p-5">
        <h3 style="font-family: 'Franklin Gothic Medium'">Inquilinos registrados</h3>
         <!--h1 class="bg-info">Hola {{Administrador.name}}</h1-->
    <div class="row justify-content-end">
      <div class="col-3 align-self-center">
        <a class="btn btn-outline-warning text-center" style=" background-image: var(--bs-gradient);border-radius: 20px;"
           href="/sistemabio/new_inquilino" 
        >
          <p style="font-family: 'Franklin Gothic Medium'" >
            Añadir inquilino <i class="material-icons rounded-circle ">person_add</i>
          </p>
        </a>
      </div>
    </div>        

 <div class="row" style=" border: 0.5px solid rgb(232, 142, 7); margin: 25px 0px; background:rgb(254, 218, 151)">
   

{% for inquilino in inquilinos %}
  <div class="col-md-3">
    <br>
      <div class="card" style=" border: 0.3px solid rgb(167, 103, 6);  ">
        <div class="card-body ">
          <div class="d-flex p-1 flex-row-reverse">
            <a  href="{% url 'sistemabio:detail_inquilino' inquilino.id_usuario %}">
              
             
           
              <i class='fas fa-info-circle' style='font-size:30px'></i>
            </a> 
          </div>
           Usuario:
          <h4 class="card-title ">
           {{ inquilino.nombre}} {{ inquilino.ap_paterno}} {{ inquilino.ap_materno}}
          </h4>
          <p>Tipo de usuario: {{ inquilino.id_perfil }}</p>
          <p>Curp: {{ inquilino.curp }} </p>
          <p>No. Piso: {{ inquilino.piso }} </p>
          <p>No. Departamento: {{ inquilino.departamento }} </p>
          <p>No. Teléfono: {{ inquilino.telefono }} </p>
          <p>Correo: {{ inquilino.correo }} </p>
          <p>Fecha de nacimiento: {{inquilino.fecha_nac }}</p>
          <p>Estado: {{inquilino.id_status}}</p>
          <p>Fecha de creación: {{ inquilino.fecha_creado }}</p>
          <p>Fecha de actualización: {{ inquilino.fecha_actualizado }}</p>
          
           {% for sesion in sesiones %} 
           {% if sesion.id_usuario_id == inquilino.id_usuario %}
           <h1>Datos Biométricos</h1>
              <p>Id sesion: {{ sesion.id_sesion }}</p>
              <p>id_usuario: {{sesion.id_usuario}}</p>
              <p>id_tipo_sesion : {{sesion.id_tipo_sesion }}</p>
              <p>dato :{{sesion.dato }}</p>
              <p> fecha_creacion de usuario: {{sesion.fecha_creacion}} </p>
              <p> fecha_actualizacion de usuario: {{sesion.fecha_actualizacion}}</p>
             {% endif %} 
            
           {% endfor %} 
        </div>
      </div>
    <br>
  </div>
{% endfor %}
 
</div>
</div>
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <table class="table table-bordered table-hover table-warning" >
              <thead>
                  <tr style="border-spacing: 1px;" >
                      <th style="border-spacing: 1px;" >Nombre</th>
                      <th border-left-width: 1px; >Tipo de usuario </th>
                      <th>No. Piso </th>
                      <th>No. Dep</th>
                      <th>Datos biometricos</th>
                      <th>Actions _____  </th>
                  </tr>
              </thead>
              <tbody>
                {% for inquilino in inquilinos %}
                  <tr>
                      <td><h5>{{ inquilino.nombre}} {{ inquilino.ap_paterno}} {{ inquilino.ap_materno}}</h5></td>
                      <td>{{ inquilino.id_perfil }} </td>
                      <td>{{ inquilino.piso }}</td>
                      <td>{{ inquilino.departamento }}</td>
        
                      <td>
                      {% for sesion in sesiones %}
                        {% if sesion.id_usuario_id == inquilino.id_usuario %}
                        
                          Tipo sesion: {{ sesion.id_tipo_sesion }} 
                          <input name="completado" type="checkbox" value="completado" /> 
                          <p> completado : {{sesion.completado}}</p>
                          {% if sesion.id_tipo_sesion == '1' %} 
                            {% if sesion.completado == True %}
                            <input name="completado" type=checkbox checked onclick="return false;"/>
                            {% else %}  
                            <input name="completado" type=checkbox  onclick="return false;"/>
                            {% endif %}
                          {% endif %}
                          <!-- {% if sesion.id_tipo_sesion == '2' and sesion.completado == True %}
                          <input name="completado" type=checkbox checked onclick="return false;"/>
                          {% else %}  
                          <input name="completado" type=checkbox  onclick="return false;"/>
                          {% endif %}
                          {% if sesion.id_tipo_sesion == '3' and sesion.completado == True %}
                          <input name="completado" type=checkbox checked onclick="return false;"/>
                          {% else %}  
                          <input name="completado" type=checkbox  onclick="return false;"/>
                          {% endif %} -->
                          <br> 
                        
                        {% endif %}
                        
                      {% endfor %}
                      <td>
                          <a href="{% url 'sistemabio:detail_inquilino' inquilino.id_usuario %}" style="text-decoration:none">
                            <i class="fas fa-eye" style='font-size:24px;color:rgb(61, 149, 249)'></i>
                          </a>
                          <a href="{% url 'sistemabio:edit_inquilino' inquilino.id_usuario %}" style="text-decoration:none">
                            <i class='fas fa-pencil-alt' style='font-size:24px;color:rgb(251, 227, 48)'></i>
                          </a>
                          <a href="{% url 'sistemabio:delete_inquilino' inquilino.id_usuario %}" style="text-decoration:none">
                            <i class='fas fa-trash-alt' style='font-size:24px;color:red'></i>
                          </a>
                      </td>
                  </tr>
                {% endfor %}
                          
              </tbody>
          </table>
          <div class="clearfix">
              <p>Total de registros: {{count}}  pagina numero: {{page.number}}</p>
              <div class="hint-text">Mostrando<b>5</b> out of <b>{{inquilinos |length }}</b> registros</div>
              <ul class="pagination justify-content-end " >
                  <li class="page-item "><a href="#"class="page-link bg-info"><i class="fa fa-angle-double-left"></i></a></li>
                  <li class="page-item disabled"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item active"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
          </div>
          
      </div>
  </div>  
</div>
{% endblock %} 
