
{% extends "sistemabio/base.html" %}
{% load static %}
{% block content %}
<main style="position: relative; overflow: hidden; width: 100%; max-width: 1600px; margin: auto; min-height: 100vh;">
    <img src="{% static 'sistemabio/img/partebaa3.png' %}" alt="" 
        style="position: absolute; width: 1016px; height: 300px; top: 0px; right: 600px; z-index: -1;"
    >
    <div class="row ">
        <div class="col s12 l6" style="padding: 0px 4%;">
            <br>
            <h1 class="header   text-white text-darken-3" 
                style="font-size: 3.1rem; font-weight: 500; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
            >
             R & S Biométric 
            </h1>
            <h4>Inquilinos</h4>
            <br>
            <blockquote>
                <h4 class="" style="font-size: 1.7rem; font-family:'Calibri'"
                 >
                 <b>
                  Registro de información de los inquilinos del edificio de condominio
                </b> 
                </h4>
            </blockquote>
        </div>
        <div class="col s12  l6 center">
            <img class="d-block w-100" src="{% static 'sistemabio/img/upiita-logo.png' %}" alt="First slide" height="200px" width="150px" >
        </div>    
    </div>
    <div class="row justify-content-end">
        <div class="col-3 align-self-end">
          <a class="waves-effect waves-light text-white btn p-2 text-center  " style="background: rgb(29, 240, 134);border-radius: 20px;"
                    href="javascript:window.history.back(); " 
                > 
            <i class="material-icons  text-white large rounded-circle btn p-2 text-center">arrow_back
            </i>       Regresar              
          </a>
        </div>
      </div>
<div class="row" style=" border: 0.0px solid rgb(220, 220, 200); margin: 25px 0px;" > 
    <div class="col s12 m6 l6 xl6">
        <div class="MenuActionContainer text-center  bg-warning p-2 " style="--bs-bg-opacity: .8;">
            <!-- background:rgb(27, 158, 149) -->
            <i class="material-icons text-white  p-2" style="background:rgb(244, 161, 37); border-radius: 20px;">person</i>
            <h5 class="text-black" style="font-family:'Franklin Gothic Medium'" ><!--, sans-serif 'Franklin Gothic Medium', Arial,Arial Narrow ;"-->  
                <b>Inquilinos</b>
            </h5>
            <p class="textHeight">Aquí puedes consultar el historial de todos los registros de inquilinos, agregar nuevos y darle seguimiento...</p>
            <a class="waves-effect waves-light text-white btn p-2 text-center " style="background:rgb(244, 161, 37); border-radius: 20px;" 
                href="{% url 'sistemabio:inquilinos' %}"
            > <!--/inquilinos/all-inquilinos    "/sistemabio/inquilinos" -->
                Ver registros
                <i class="material-icons text-white btn p-2 text-center">view_list</i>
            </a>
        </div>
    </div>
    <div class="col s12 m6 l6 xl6 align-self-center">
        <div class="MenuActionContainer bg-success p-2 text-center " style="--bs-bg-opacity: .7;">
            <!-- background:rgb(94, 213, 243) -->
            <i class="material-icons text-light bg-success p-2 rounded-circle" >person_add</i>
            <h5 class="text-black" style="font-family:'Franklin Gothic Medium'" >
                <strong>Añadir Inquilino</strong>
            </h5>
            <p class="textHeight">Aquí puedes añadir la 
            <br>información básica del inquilino nuevo, así como los datos biométricos... 
            </p>
            <a class="waves-effect waves-light text-white btn bg-success p-2 text-center " style ="border-radius: 20px;"
                href="/sistemabio/new_inquilino" 
            >
                Añadir
                <i class="material-icons text-white rounded-circlet btn p-2 text-center ">add</i>
            </a>
        </div>
    </div>
    <div class="col s12 m6 l6 xl6">
        <div class=" MenuActionContainer text-center bg-info p-2" style=" --bs-bg-opacity: .5;" >
            <!-- background:rgb(115, 209, 212, 0.941); -->
            <i class="material-icons text-white medium  p-2 rounded-circle" style="background: rgb(6, 127, 202);">search</i>
            <h5 class="text-black" style="font-family: 'Franklin Gothic Medium'" >
                <b>Buscar Inquilino</b>
           </h5>
            <p class="textHeight">Aquí puedes buscar un inquilino y ver su información.</p>
            <a class="waves-effect waves-light text-white btn p-2 text-center  " style="background: rgb(6, 127, 202);border-radius: 20px;"
            href="/sistemabio/search_inquilino" 
            >
                Buscar
                <i class="material-icons  text-white large rounded-circle btn p-2 text-center">person_search
                </i>                    
            </a>
        </div>
    </div>
    <div class="col s12 m6 l6 xl6">
        <div class=" MenuActionContainer text-center bg-info p-2" style="--bs-bg-opacity: .8;">
            <!-- "background: rgb(107, 234, 225)" -->
            <i class="material-icons text-white medium  p-2 rounded-circle" style="background: rgb(6, 127, 202)">receipt_long</i>
            <h5 class="text-black" style="font-family: 'Franklin Gothic Medium'" >
                <b>Generar informe de inquilinos</b>
            </h5>
            <p class="textHeight">Aquí puedes generar un informe con la información publica de los inquilinos </p>
            <a class="waves-effect waves-light text-white btn p-2 text-center  " style="background:rgb(6, 127, 202);border-radius: 20px;"
                    href="#"
                >
                    Informe
                    <!--<i class="material-icons  text-white large rounded-circle">demography</i>-->
                    <span class="material-symbols-sharp text-white  btn p-2 text-center ">
                    demography
                    </span>
            </a>
            <!--form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form-->
        </div>
    </div>
    
    
    </div>
    <img src="{% static 'sistemabio/img/ellipse11.png' %}" alt="" 
        style="position: absolute; width: 1616px; height: 1148px; left: 100px; bottom: -900px; z-index: -1;"
    >
  
</main>
{% endblock %}