{% load static %}
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card mt-5 bg-success text-white rounded" style="--bs-bg-opacity: .7;">
      <div class="card-header pt-5">
        <h4 class="text-center">
          Registrar cuenta
        </h4>
      </div>
      <img
        class="rounded-circle mx-auto d-block logo m-3 " style="width:20%"
        src="{% static 'sistemabio/img/logo.png' %}"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/administradores/signup" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="name">Nombre:</label>
            <input
              type="text"
              class="form-control bg-white text-dark "
              name="name"
              placeholder="Nombre Apellido Paterno Apellido Marterno"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="email">Correo:</label>
            <input
              type="email"
              class="form-control bg-white text-dark "
              name="email"
              placeholder="someone@example.com"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="telefono">No. Teléfono:</label>
            <input
              type="telefono"
              name="telefono"
              class="form-control  bg-white text-dark"
              placeholder="5501030205"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="description">Domicilio:</label>
            <textarea
              name="domicilio"
              class="form-control"
              placeholder="Calle.Jesus Manuel No.17, Col.Luis Cordoba, Municipio/Delegación"
            ></textarea>
          </div>    
          <div class="mb-3">
            
            <!--La contraseña debe cumplir los siguientes requerimientos:
            <br>*Al menos una letra
            <br>*Al menos una letra mayúscula
            <br>*Al menos un número
            <br>*Al menos 8 carácteres
            <br>-->
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control bg-white text-dark "
              name="password"
              placeholder="Password"
              value="{{password}}"
            />
          </div>
          <div class="mb-3">
            <label for="confirm_password">Confirmar Password:</label>
            <input
              type="password"
              class="form-control bg-white text-dark"
              name="confirm_password"
              placeholder="Confirmación de Password"
              value="{{confirm_password}}"
            />
          </div>
          <h4 class="text-dark">Datos Biométricos</h4>
          <div class="row text-center">
            <div class="col-4">
              <label for="confirm_password"> Foto:</label>
              <!-- Button trigger modal  -->
              <a class="waves-effect waves-light text-dark btn p-2 text-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                   style="border-radius: 30px;" 
                >
                <i class="material-icons small rounded-circle " style="font-size:90px;"> 📷 
                </i> 
                <!-- photo_camera -->                     
              </a>
            </div>

            <!-- Modal Camara -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content text-dark">
                  <div class="modal-header bg-success" style="--bs-bg-opacity: .5;">
                    <h1 class="modal-title" id="staticBackdropLabel">Captura el rostro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                     <div class="modal-body">
                        <div class="container">
                            <div class="row">
                            <div class="col ">
                                <div id="my_camera"></div>
                                <br>
                                <video id="video" autoplay></video>
	                            <canvas id="canvas" style="display: none;"></canvas>

                                <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '/tomarFoto'">Capturar</button>
                                </div>

                            </div>
                            
                            </div>
                        </div>
                     </div>


                  <div class="modal-footer bg-success" style="--bs-bg-opacity: .5;">
                    <!--button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button-->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="document.body.removeChild(document.querySelector('img'))">Aceptar</button>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-4">
              <label for="confirm_password">Huella:</label>
              <a class="waves-effect waves-light text-dark btn p-2 text-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
                   style="border-radius: 30px;" 
                >
                <i class="material-icons small rounded-circle " style="font-size:100px;">fingerprint
                </i>
              </a>
            </div>
             <!-- Modal Huella-->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content text-dark">
                  <div class="modal-header bg-success" style="--bs-bg-opacity: .5;">
                    <h1 class="modal-title" id="staticBackdropLabel">Captura la huella</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                       <div class="container">
                          <div class="row">
                              <div class="col ">
                                
                                  Aqui se hace la toma de muestras de la huella
                                  <br>
                                <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '/tomarFoto'">Capturar Huella</button>
                                </div>
                              </div>
                          </div>
                        </div>
                  </div>
                  <div class="modal-footer bg-success" style="--bs-bg-opacity: .5;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
           

            <div class="col-4">
              <label for="confirm_password">Voz:</label>
              <a class="waves-effect waves-light text-dark btn p-2 text-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop3"
                   style="border-radius: 30px;" 
                >
                
                
              </a>
            </div>   
               <!-- Modal Voz-->
            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content text-dark">
                  <div class="modal-header bg-success" style="--bs-bg-opacity: .5;">
                    <h1 class="modal-title" id="staticBackdropLabel">Captura la voz</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                       <div class="container">
                          <div class="row">
                              <div class="col ">
                                
                                  Aqui se hace la captura de voz
                                  <br>
                                <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '/tomarFoto'">Capturar Voz</button>
                                </div>
                              </div>
                          </div>
                        </div>
                  </div>
                  <div class="modal-footer bg-success" style="--bs-bg-opacity: .5;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>          
          
              
          </div>
          <button class="btn btn-success btn-block">
            Registrarse
          </button>
        </form>
      </div>
      
            
      <p class="text-center">¿Ya tienes una cuenta?
        <a href="/administradores/signin" class="text-info">Entrar</a></p>
    </div>
  </div>
</div>