<!-- My Content -->
{% extends "sistemabio/base.html" %}

{% block content %}
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100"
    >
      <section class="card bg-success" style="--bs-bg-opacity: .5;">
        <div class="card-body">
           <h1 class="display-1">About</h1>
            <p> 
                Este es un sistema biométrico para el control de acceso peatonal a un edificio.
                Cuenta con una base de datos escalable y de código abierto; se usa el reconocimiento facial, reconocimiento de voz y reconocimiento de huella digital.
            </p>
        </div>
       </section>
    </main>

{% endblock %}


