
{% extends "sistemabio/base.html" %}
{% load static %}
{% block content %}
 <!-- Webcam.min.js-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script> 
      
    <header class="row" style="position: relative;  height: 50vh; width: 100%;" >
        <div
          class="col s12 m11 l9 xl8 "
          style="position: absolute; top: 0px; height: 60%; left: 0px;"
        >
          <img
            alt="imagen1"
            src="{% static 'sistemabio/img/rec5.png' %}"
            class="responsive-image" 
            style="height: 200%; width: 80%; left: 0px; top: 0px; position: absolute; object-fit: cover;"
          />
        </div>
        <div class="col s12 m9 l9 xl8 white-text" 
             style="position: absolute; top: 50%; left: 30%; height: 100%; transform: translate(-50%, -50%); width: 50%;"
        >
        <br>
              <br>
            <blockquote>
              <br>
              <h2 class="subtitulo black-text ">
                <b>
                  Rostro <br /> 
                </b>
              </h2>
            </blockquote>
        </div>
        
        <div class="col m6 l6 xl5 hide-on-small-only" style="height: 100%; position: absolute; top: 0%; right: 0%;">
          <img alt="" src="{% static 'sistemabio/img/parteba10.png' %}" 
          class="responsive-img" style="position: absolute; right: -5px; top: 0px; height: 100%; width: 50%;">
        </div>  
    </header>
      <br />
      <!--
      <br />
      -->
    
     

<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header bg-success text-center" style="--bs-bg-opacity: .7;">
      <h3 class="text-white">Captura el rostro
        <i class="material-icons small rounded-circle " style="font-size:40px;">face
        </i>
      </h3>
    </div>
    <div class="card-body text-left bg-success "style="--bs-bg-opacity: .3;">
      <form  method="POST" enctype="multipart/form-data" >
        {% csrf_token %} 
       
      <div class="container">
          <div class="row ">
              <div class="col">
                  <p class="text-black" style="font-family: 'Franklin Gothic Medium'; font-size: 20px;" > 
                    <b>Aquí se realiza la captura de rostro</b>
                  </p>
                  <br>
                  <p>
                    Al oprimir el boton de "Take Foto" se tomará una imagen de tu rostro, posterior a eso tendrás que oprimir el botón de aceptar para continuar con el registro.
                  </p>
                  <div class="row justify-content-md-center">
                    <div class="col-6 aling-self-center">
                      <br>
                      <div id="my_camera"></div>
                      <br>
                      <div class="d-flex justify-content-center">
                       <button type="button" class="btn btn-primary" onclick="takeSnapshotAndSend()">Capturar</button> 
                      </div>
                      <br>
                      <div id="results" ></div>
                      <br>

                      <label for="id_usuario">Usuario:</label>
                      <select class="form-control" type="text" id="id_usuario" name="id_usuario" >
                        <option value="{{inquilino.id_usuario}}" selected="selected">Id {{inquilino.id_usuario}} -> {{inquilino.id_usuario}} {{inquilino.nombre}} {{inquilino.ap_paterno}} {{inquilino.ap_materno}}</option>
                      </select readonly>
                      
                      <label for="id_tipo_sesion">Tipo de sesion:</label>
                      <select class="form-control" type="text" id="id_tipo_sesion" name="id_tipo_sesion" >
                        <option value="1" selected="selected">Tipo sesion {{sesion.id_tipo_sesion}} ->FACIAL</option>
                      </select readonly>

                      <label for="id_dato">Dato:</label>
                      <input type="text" name="dato" class="form-control" id="id_dato"/> 
                      
                      <h5></h5>
                      <!-- {{form}} -->
                        
                     <script language="JavaScript">
                       Webcam.set({
                            width: 320, 
                            height: 240,
                            image_format: 'jpeg',
                            jpeg_quality: 90
                        });
                        
                        Webcam.attach('#my_camera');
                        var numPhotos = 10; // Número total de fotos que se van a capturar
                        var photoCounter = 0; // Contador de fotos capturadas
                        const data_uri2 = [];
                        function takeSnapshotAndSend() {
                          for (var i = 0; i <numPhotos; i++) {
                            // Tomar la instantánea y obtener los datos de la imagen
                            Webcam.snap(function(data_uri) {
                              // display results in page
                              document.getElementById('results').innerHTML = 
                              // '<img id="imageprev" src="'+data_uri+'"/>';
                              '<img id="imageprev" src="'+data_uri+'"/>';
                              var valor = document.getElementById("results").innerHTML;
                              
                              console.log("valor",valor);
                              // document.getElementById("id_dato").value = valor ;
                              // console.log("valor2",valor);
                              document.getElementById("id_dato").value = data_uri ;
                              console.log("dta uri",data_uri);
                              data_uri2.push(' ' + data_uri);
                              console.log("dta uri2",data_uri2);
                              document.getElementById("id_dato").value = data_uri2 ;
                              // Incrementar el contador de fotos capturadas
                              photoCounter++;
                              console.log("Foto tomada ", photoCounter)
                            });
                          }
                          console.log("Total de Fotos tomadas ", photoCounter) 
                          print('array',data_uri2)
                        }
                      </script>
                    </div>                   
                  </div>          
                  <br>
                  <br>                  
              </div>
          </div>
       
            <button class="btn btn-info w-100" type="submit">
              Guardar 
              <i class="material-icons "> save</i>
            </button>
    
         
      
      </div>
      </form>
    </div>
  </div>
</div>
<br>


{% endblock %}