{% load static %}
 <!-- Webcam.min.js-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script> 
    
    <header class="row" style="position: relative;  height: 30vh; width: 100%;" >
        <div
          class="col s12 m11 l9 xl8 "
          style="position: absolute; top: 0px; height: 60%; left: 0px;"
        >
          <img
            alt="imagen1"
            src="{% static 'sistemabio/img/rec5.png' %}"
            class="responsive-image" 
            style="height: 200%; width: 100%; left: 0px; top: 0px; position: absolute; object-fit: cover;"
          />
        </div>
        <div class="col s12 m9 l9 xl8 white-text" 
             style="position: absolute; top: 50%; left: 30%; height: 100%; transform: translate(-50%, -50%); width: 50%;"
        >
        <br>
              <br>
            <blockquote>
              <br>
              <h2 class="subtitulo black-text ">
                <b>
                  Rostro <br /> 
                </b>
              </h2>
            </blockquote>
        </div>
        
        <div class="col m6 l6 xl5 hide-on-small-only" style="height: 100%; position: absolute; top: 0%; right: 0%;">
          <img alt="" src="{% static 'sistemabio/img/parteba10.png' %}" 
          class="responsive-img" style="position: absolute; right: -5px; top: 0px; height: 100%; width: 70%;">
        </div>  
    </header>
      <br />
      <!--
      <br />
      -->
    
     

<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header bg-success text-center" style="--bs-bg-opacity: .7;">
      <h3 class="text-white">Captura el rostro
        <i class="material-icons small rounded-circle " style="font-size:40px;">face
        </i>
      </h3>
    </div>
    <div class="card-body text-left bg-success "style="--bs-bg-opacity: .3;">
      <form action="/inquilinos/edit-inquilino/{{inquilino._id}}?_method=PUT" method="POST" enctype="multipart/form-data" >
    <!--     <form action="/inquilinos/new-inquilino" method="POST" enctype="multipart/form-data">
   "/inquilinos/edit-inquilino/{{inquilino._id}}?_method=PUT"-->

      <div class="container">
          <div class="row ">
              <div class="col">
                  
                  <p class="text-black" style="font-family: 'Franklin Gothic Medium'; font-size: 20px;" > 
                    <b>Aquí se realiza la captura de rostro</b>
                  </p>
                  <br>
                  <p>
                    Al oprimir el boton de "Take Foto" se tomará una imagen de tu rostro, posterior a eso tendrás que oprimir el botón de aceptar para continuar con el registro.
                  </p>
                  <div class="row justify-content-md-center">
                    <div class="col-6 aling-self-center">
                      <br>
                      <div id="my_camera"></div>
                      <br>
                      <div class="d-flex justify-content-center">
                       <!-- -->
                       <button type="button" class="btn btn-primary" onclick="takeSnapshotAndSend()">Capturar</button> 
                      </div>
                      <br>
                      <!-- 
                      <input type=button value="Take Snapshot" onClick="take_snapshot()">  
                      -->
                      <div id="results" ></div>
                        <br>
                        <input type="text"  id="cara" name ="cara" />
                         <!-- document.getElementById("results").value-->
                     <script language="JavaScript">
                       Webcam.set({
                            width: 320, 
                            height: 240,
                            image_format: 'jpeg',
                            jpeg_quality: 90
                        });

                        Webcam.attach('#my_camera');
                        path="C:/Users/yobis/Desktop/Proyectos/pt/SistemaBiometricoPT/Interfaz/Administrador/src/public/fotos/"
                        var numPhotos = 10; // Número total de fotos que se van a capturar
                        var photoCounter = 0; // Contador de fotos capturadas
                        function takeSnapshotAndSend() {
                         // for (var i = 0; i <numPhotos; i++) {
                            // Tomar la instantánea y obtener los datos de la imagen
                            Webcam.snap(function(data_uri) {
                               // display results in page
                            document.getElementById('results').innerHTML = 
                           // '<img src="'+data_uri+'"/>';
                            '<img id="imageprev" src="'+data_uri+'"/>';
                            var valor = document.getElementById("results").innerHTML;
                            console.log("valor",valor);
                             document.getElementById("cara").value = valor ;
                            console.log("valor2",valor);
                           
                              //var valor =data_uri
                              // Generar un nombre de archivo único para la imagen
                              var fileName = 'imagen_' + photoCounter + '.png';

                              // Guardar la imagen localmente con el nombre de archivo generado
                              // var saveUrl = path + fileName; // Ruta y nombre de archivo para guardar la imagen
                              // Incrementar el contador de fotos capturadas
                              photoCounter++;
                              console.log("Foto tomada ", photoCounter)
                             // savAs(data_uri)
                          }); 
                      //}
                      console.log("Total de Fotos tomadas ", photoCounter)
                     }
                    </script>
                    </div>                   
                  </div>          
                    <br>
                    <br>                  
              </div>
          </div>
          <div class="row justify-content-end">
          <div class="col-4 align-self-end">
           
            <input id = "team_name" type="text" name ="name_field" value="Ejemplo" />

            <button class="btn btn-info w-100" type="submit">
              Guardar 
              <i class="material-icons "> save</i>
            </button>
            <!-- <a class="waves-effect waves-light text-white btn p-2 text-center  " style="background: rgb(29, 240, 134);border-radius: 20px;"
                      href="javascript:window.history.back(); "
                  > Aceptar
                 <i class="material-icons small rounded-circle " style="font-size:20px;">face
                 </i>                   
            </a>-->
          </div>
      </div>
      </div>
      </form>
    </div>
  </div>
</div>
<br>