{% extends "sistemabio/base.html" %}
{% load static %}
{% block content %}

    <main style="position: relative; overflow: hidden; width: 100%; max-width: 1600px; margin: auto; min-height: 100vh;">
        <img src="{% static 'sistemabio/img/Vector3.png' %}" alt="vector3" 
            style="position: absolute; width: 1616px; height: 1148px; top: -800px; right: -200px; z-index: -1;"
        >
        <div class="row">
            <div class="col s12 l6" style="padding: 0px 4%;">
                <br>
                <h1 class="header   blue-grey-text text-darken-3" 
                    style="font-size: 3.1rem; font-weight: 500; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
                >
            R & S Biométric
                </h1>
                <br>
                <blockquote>
                    <h4 style="font-size: 1.7rem; font-family:'Calibri'"
                     >
                     <b>
                      Registro de información de usuarios del edificio de condominio
                    </b> 
                    </h4>
                </blockquote>
            </div>
           <div class="col s12  l6 center">
                <img class="d-block w-100" src="{% static 'sistemabio/img/logo_ipn_guinda.svg' %}" alt="ipn_guida" height="200px" >
            </div>   
        </div>
          <div>
            <img alt="" class="hide-on-small-only" src="{% static 'sistemabio/img/welcome.png' %}" 
                style="display: inline-block; width: 100%; margin: -100px auto auto;"
            >
        </div>  
        <div class="row">
           <div class="col-4 center">
                 <img src="{% static 'sistemabio/img/upiita-logo.png' %}" alt="logo" height="150px" >
            </div>
            <div class="col-8 center ">
                <div class="row ">
                    <div class="col s6 center">
                        <a class=" btn btn-warning active" aria-current="page" href="/sistemabio/signin">
                            Iniciar Sesión
                            <i class="material-icons right">send</i>
                        </a>
                    </div>
                   
                    <div class="col s6 center">
                        <a class="btn btn-outline-info" href="/sistemabio/signup">
                            Registrarse
                            <i class="material-icons right">edit_note</i>
                        </a>
                    </div>
                </div>
            </div>
                
        </div> 
   
      <!--

       <div class="col-4">
            <label for="confirm_password"> Foto:</label>
                  <a class="waves-effect waves-light text-dark btn p-2 text-center"  href="/facial"
                       style="border-radius: 30px;" 
                    >
                    <i class="material-icons small rounded-circle " style="font-size:90px;"> 📷 
                    </i> 
                  </a> 
    
        </div>
        
                <div class="col-4">
                  <label for="confirm_password">Huella:</label>
                  <a class="waves-effect waves-light text-dark btn p-2 text-center" href="/huella" 
                       style="border-radius: 30px;" 
                    >
                    <i class="material-icons small rounded-circle " style="font-size:100px;">fingerprint
                    </i>
                  </a>
                </div>
                
                <div class="col-4">
                  <label for="confirm_password">Voz:</label>
                  <a class="waves-effect waves-light text-dark btn p-2 text-center" href="/voz" 
                       style="border-radius: 30px;" 
                    >
                    <i class="material-icons small rounded-circle " style="font-size:100px;">mic
                    </i>
                  </a>
                </div>   
                  
                 
                                      <center>
                                        <h1>Audio Clip Recorder</h1>
                                        <p><button id="record">Record</button></p>
                                        <div id="sound-clip"></div>
                                      </center>
                                      
                                      <script type="text/javascript" src="/biometricos/voiceMemo.js"></script>--> 
        <img src="{% static 'sistemabio/img/ellipse1.png' %}" alt="" 
            style="position: absolute; width: 1616px; height: 1148px; left: 100px; bottom: -900px; z-index: -1;"
        >
    </main>
{% endblock %}