<!-- -->
{% extends "sistemabio/base.html" %}
{% load static %}
{% block content %}
    <div>
        <header class="row" style="position:relative; height: 50vh; width:100%">
            <br>
            <br>
           <div
              class="col s12 m11 l9 xl8 "
              style="position: absolute; top: 0px; height: 100%; left: 0px;"
            >
                <img alt="" src="{% static 'sistemabio/img/ba5.png' %}" 
                        style="position: absolute; right: 60px; top: 20%; width: 100%; height:80%"
                    >
                <img alt="" src="{% static 'sistemabio/img/ba19.png' %}"
                        style="position: absolute; right: 62px; top: 0px; width: 100%; height:90%">
                
            </div>
            <div class="col s12 m9 l9 xl8"
                style="position: absolute; top: 50%; left: 70%; transform: translate(-50%, -50%); height: 90%; width: 50%;"
            >
                <img alt=""  src="{% static 'sistemabio/img/uno.png' %}" 
                        style="position: absolute; right: 30px; top:0px;  width: 60%; height:120%;"
                    >
            </div>
            <div class="col s12 m9 l9 xl8" 
                style="position: absolute; top: 70%; left: 30%; transform: translate(-50%, -50%); height: 100%; width: 50%;"
            >
                <h1 class="text-black" style="font-family:'Franklin Gothic Medium'; font-size: 60px;">
                    <b>Administrador</b>
                </h1>
                <blockquote>
                        <p style="font-size: 30px;">Menú principal</p>
                   
                </blockquote>
            </div>
        </header>
        <main class="row" style=" border: 0.0px solid rgb(220, 220, 200); margin: 50px 0px;" >
            <div class="col s12 m6 l6 xl6">
                <div class="MenuActionContainer text-center  bg-success p-2 " style="--bs-bg-opacity: .5;">
                    <i class="material-icons text-white bg-success p-2" style="border-radius: 20px;">person</i>
                    <h5 class="text-black" style="font-family:'Franklin Gothic Medium'" ><!--, sans-serif 'Franklin Gothic Medium', Arial,Arial Narrow ;"-->  
                        <b>Inquilinos</b>
                    </h5>
                    <p class="textHeight">Aquí puedes consultar el historial de todos los registros de inquilinos, agregar nuevos y darle seguimiento...</p>
                    <a class="waves-effect waves-light text-white btn bg-success p-2 text-center " 
                        href="/sistemabio/inquilinosinicial" style="border-radius: 20px;"
                    ><!--/inquilinos/inquilinos_inicial_copy-->
                        Ver registros <i class="material-icons  text-white large rounded-circle btn bg-success p-2 text-center ">fact_check</i>
                    </a>
                </div>
            </div>
            <div class="col s12 m6 l6 xl6 align-self-center">
                <div class="MenuActionContainer bg-danger p-2 text-center " style="--bs-bg-opacity: .5;">
                    <i class="material-icons text-light bg-danger p-2 rounded-circle" style="border-radius: 20px;">group</i>
                    <h5 class="text-black" style="font-family: 'Franklin Gothic Medium'" >
                        <strong>Visitantes</strong>
                    </h5>
                    <p class="textHeight">Aquí puedes consultar la 
                        <br>información básica de todos los visitantes, agregar nuevos y/o editarlos...
                    </p>
                    <!--div class="container waves-effect waves-light text-white btn bg-danger  text-center  " style="border-radius: 20px;"-->
                        
                        <a class="waves-effect waves-light text-white btn bg-danger p-2 text-center "  style="border-radius: 20px;"
                        href="/visitantes/visitantes_inicial" 
                        >
                        Ver registros
                        <i class="material-icons text-white rounded-circlet text-white btn bg-danger p-2 text-center  ">list</i>
                        </a>
                    <!--/div-->
                    
                </div>
            </div>
            <div class="col s12 m6 l6 xl6">
                <div class=" MenuActionContainer text-center  bg-warning p-2" style="--bs-bg-opacity: .5;">
                    <i class="material-icons text-white medium  bg-warning p-2 rounded-circle">engineering</i>
                    <h5 class="text-black" style="font-family: 'Franklin Gothic Medium'" >
                        Trabajadores
                    </h5>
                    <p class="textHeight">Aquí puedes ver la información de todos los trabajadores.</p>
                    <a class="waves-effect waves-light text-white btn bg-warning p-2 text-center  " 
                        href="/trabajadores/trabajadores_inicial" style="border-radius: 20px;"
                    >
                        Ver registros
                        <i class="material-icons  text-white large rounded-circle btn bg-warning p-2 text-center ">fact_check
                        </i>
                    </a>
                </div>
            </div>
            <div class="col-2 align-self-center">
                    <div class= "MenuActionContainer text-center p-2" style="background:rgb(255, 230, 89) ">
                        <h5 class="text-black" style="font-family: 'Franklin Gothic Medium'" >
                            <b>Cerrar sesion</b>
                        </h5>
                        <a class="waves-effect waves-light text-dark btn p-2 text-center" style="background:rgb(255, 255, 0);border-radius: 20px;" 
                            href="/sistemabio/logout"
                        >
                            <i class="material-icons  text-dark large rounded-circle">logout
                            </i>
                        </a>
                    </div>
                </div>
            <!--div class="row justify-content-around">
                <div class="col-2 align-self-center">
                    <div class= "MenuActionContainer text-center p-2" style="background:rgb(255, 230, 89) ">
                        <h5 class="text-black" style="font-family: 'Franklin Gothic Medium'" >
                            <b>Cerrar sesion</b>
                        </h5>
                        <a class="waves-effect waves-light text-dark btn p-2 text-center" style="background:rgb(255, 255, 0)" 
                            href="/administradores/logout" style="border-radius: 20px;"
                        >
                            <i class="material-icons  text-dark large rounded-circle">logout
                            </i>
                        </a>
                    </div>
                </div>
            </div-->
            
        
        </main>
    </div>

{% endblock %}
